include mixins/_btns
include mixins/_covers
include mixins/_picGallery
doctype html
html

	head
		include includes/_header

	body
		//- #wrapper
		include includes/_menu

		include includes/future_events/_future_events
		include includes/previus_events/_previusEvents
		include includes/artist/_artists
		include includes/store/_store
		include includes/futurismo/_futurismo
		include includes/about/_about
		include includes/contacto/_contacto

			//- include includes/calendar/_calendar
			//- include includes/events/_events
			

			//- include includes/artist/_artists

			
			

			

			
			


		include includes/_footer

		include includes/_scripts