.galeriaHold.mainHold
	.safeArea
		.to-holderH
			h2 Gallery
		.holdInPic
			+img-pic({folder:'editions', name:'tapestry1', lightbox:'image-2', title:'/Sixe Paredes Futurismo Ancestral.', clase:'btmLst'})
			+img-pic({folder:'editions', name:'tapestry2', lightbox:'image-2', title:'/Sixe Paredes “Tapestry” Detail, from Dimensions series.', clase:'btmLst'})
			+img-pic({folder:'editions', name:'quipu', lightbox:'image-2', title:'/Sixe Paredes and Zenon Gallegos “Studio of Zenon Gallegos”. Film Still. Nasca, Perù. 2014.', clase:'btmLst'})
			+img-pic({folder:'editions', name:'quipu2', lightbox:'image-2', title:'/Sixe Paredes and Ivan Gallegos “Cerro Blanco”. Film Still. Nasca, Perù. 2014.', clase:'lastRt btmLst'})
			