section(id="store-section")
	.listHolder.mainHold
		.safeArea.SfH.center-h
			.colummSingle
				p 108 (IT) - ARYZ (ES) - AUGUSTINE KOFIE (US) - BORIS TELLEGEN (NL) 
				p CALEB NEELON (US) - CALI THORNHILL DEWITT (US) - CHU (AR)
				p CLEON PETERSON (US) - DANIEL K SPARKES (UK) - EGS (FI) -
				p EKTA [DANIEL GÖTESSON] (SW) - ELTONO (FR) - EROSIE (NL)
				p FILIPPO MINELLI (IT) - GOLDPEG (UK) - GRAPHIC SURGERY (NL) 
				p HERBERT BAGLIONE (BR) - HONET (FR) - HORFEE (FR) - HUSKMITNAVN(DK) 
				p IAN STRANGE [KID ZOOM] (AU) - INTERESNI KAZKI (UA) - ISAURO HUIZAR (MX) 
				p ISAAC TIN WEI LIN (US) - JAMES JARVIS (UK) - JURNE (US) - KEN SORTAIS (FR) 
				p LES FRÈRES RIPOULAIN (FR) - LUSH (AU) 
				p MALARKO (UK) - MARTIN TIBABUZO (AR) - MIKE BALLARD (UK) - MOMO (US) - NANO 4814 (ES) - NUG (SW)
				p OX (FR) - PETRO (UK) - REMED (FR) - REMIO (US) - ROIDS (UK)
				p RON ENGLISH (US) - RUSSELL MAURICE (UK) - SEGO/OVBAL (MX)
				p SHANTELL MARTIN (UK) - SHEPARD FAIREY (US) - SIXE PAREDES (ES) 
				p SUSUMU MUKAI (JP) - SWOON (US) - THE CULT OF RAMMELLZEE (UK) 
				p TIM HEAD (UK) - VOVA VOROTNIOV (UA) - WILL SWEENEY (UK)
//- #store-section.mainHold
//- 	+covers({section:'store', titulo:'Ancestral Futurismo: ', spam:'An Ode to Peru by Sixe Paredes'})
//- 	.safeArea.storeSafe
//- 		.holdColums
//- 			.redTitle
//- 				p CONTACT US ABOUT SIXE’S EDITIONS

//- 			.top-holder
//- 				.title
//- 					h2 About
//- 				.other-link
					
//- 					p(class="go_calendar") Calendar

//- 			.columsText
//- 				p 	
//- 					| For Futurismo Ancestral, Sixe
//- 					| has collaborated with the creative
//- 					| community throughout Peru, learning
//- 					| about local art traditions
//- 					| and techniques from celebrated
//- 					| ceramicists, chicha artists
//- 					| and weavers.  Producing a set 
//- 					| of 25 large-scale works including
//- 					| tapestries, totem sculptures,
//- 					| ceramics and quipus (a system
//- 					| of knotted cords developed
//- 					| by the Incas to communicate and record 

//- 			.columsText.columsText-sec
//- 				p
//- 					| important information, or otherwise known as ‘talking knots’) as well as some smaller-scale works such as masks and chicha carteles (hand-drawn concert posters decorated with fluorescent inks), these works capture the soul and spirit of contemporary Peruvian and Andean culture.
//- 					|Produced exclusively for this project, it is the first time that the collection has been exhibited.


//- 	include _galery