#store-section.mainHold
	+covers({section:'store', titulo:'Ancestral Futurismo: ', spam:'An Ode to Peru by Sixe Paredes'})
	.safeArea.storeSafe
		.holdColums
			.redTitle
				p CONTACT US ABOUT SIXE’S EDITIONS

			.top-holder
				.title
					h2 About
				.other-link
					
					p(class="go_calendar") Calendar

			.columsText
				p 	
					| For Futurismo Ancestral, Sixe
					| has collaborated with the creative
					| community throughout Peru, learning
					| about local art traditions
					| and techniques from celebrated
					| ceramicists, chicha artists
					| and weavers.  Producing a set 
					| of 25 large-scale works including
					| tapestries, totem sculptures,
					| ceramics and quipus (a system
					| of knotted cords developed
					| by the Incas to communicate and record 

			.columsText.columsText-sec
				p
					| important information, or otherwise known as ‘talking knots’) as well as some smaller-scale works such as masks and chicha carteles (hand-drawn concert posters decorated with fluorescent inks), these works capture the soul and spirit of contemporary Peruvian and Andean culture.
					|Produced exclusively for this project, it is the first time that the collection has been exhibited.


	include _galery