.galeriaHold.mainHold
	.safeArea
		.to-holderH
			h2 Gallery
		.holdInPic
			+img-pic({folder:'futurismo', name:'SixeFly', lightbox:'image-3', title:'/Sixe Paredes Futurismo Ancestral.', clase:''})
			+img-pic({folder:'futurismo', name:'fturismoLead', lightbox:'image-3', title:'/Sixe Paredes “Tapestry” Detail, from Dimensions series.', clase:''})
			+img-pic({folder:'futurismo', name:'sixefilm1', lightbox:'image-3', title:'/Sixe Paredes and Zenon Gallegos “Studio of Zenon Gallegos”. Film Still. Nasca, Perù. 2014.', clase:''})
			+img-pic({folder:'futurismo', name:'sixefilm2', lightbox:'image-3', title:'/Sixe Paredes and Ivan Gallegos “Cerro Blanco”. Film Still. Nasca, Perù. 2014.', clase:'lastRt'})
			
			+img-pic({folder:'futurismo', name:'sixeMariano', lightbox:'image-3', title:'/Sixe Paredes and Mario Testino “Salida de Emergencia”. 2013.', clase:'btmLst'})
			+img-pic({folder:'futurismo', name:'totem1', lightbox:'image-3', title:'/Sixe Paredes and Valentino Sibadon “Ofrenda Celeste”. Nasca, Perù. 2014.', clase:'btmLst'})
			+img-pic({folder:'futurismo', name:'totem2', lightbox:'image-3', title:'/Sixe Paredes and Valentino Sibadon “Ofrenda Celeste” Detail. Nasca, Perù. 2014.', clase:'btmLst'})
			+img-pic({folder:'futurismo', name:'totme3', lightbox:'image-3', title:'/Sixe Paredes and Valentino Sibadon “Ofrenda Celeste” Detail. Nasca, Perù. 2014.', clase:'lastRt btmLst'})
			
