.videosHold
	.safeArea
		.topTxt
			h2 Videos
		.inHold
			.colVid
				.videoIframe
					iframe(width="380", height="235", src="//www.youtube.com/embed/lDVVqPE4mQA", frameborder="0", allowfullscreen)
				.titlevideo
					p RADIO & SIXE -Ofrenda Celeste-
				.videoIframe
					iframe(width="380", height="235", src="//www.youtube.com/embed/Nfj_fHkdg6A", frameborder="0", allowfullscreen)
				.titlevideo
					p SIXEART B.S
			.colArtist
				.artistFace.goToArtist.go_artist
				.artistTxt
					p Barcelona-born Sixe is one of the world’s most established Independent Public Artists.  One of only six international artists invited by the Tate Modern to paint its river façade at the acclaimed Street Art show in 2008, Sixe’s residency at Somerset House for Futurimso Ancestral marks his fist return to London. <a href="http://www.sixeparedes.com" target="_blank"><span>sixeparedes.com</span></a>