.footer
	.socialHold
		a(href="https://www.facebook.com/approvedbypablo", target="_blank")
			.btnIn
				p Facebook
		a(href="https://twitter.com/ApprovedbyPablo", target="_blank")
			.btnIn
				p Twitter
		a(href="http://instagram.com/approvedbypablo", target="_blank")
			.btnIn
				p Instragram