#head.mainHold
	.safeArea
		a(href="#")
			.logoTop.bgi
	
		.NavHold
			+btn({elId:"calendar", nombre:"Future Events",clase:'active-nav'})
			+btn({elId:"events", nombre:"Previus Evnets",clase:'no-nav'})
			+btn({elId:"store", nombre:"A(by)P Store",clase:'no-nav'})
			+btn({elId:"artist", nombre:"Artists", clase:'no-nav'})
			+btn({elId:"about", nombre:"About",clase:'no-nav'})
			+btn({elId:"contact", nombre:"Contact", clase:'no-nav'})
