section(id="futurismo-section")
	.sectInH.imgcoverIN(style="background: url('../assets/images/gui/store/cover.jpg') no-repeat center center fixed; -webkit-background-size: cover -moz-background-size: cover; -o-background-size: cover; background-size: cover;")
	.sectInH.infoHolder.mainHold
		.safeArea.SfH.center-h
			.holdColums
				.columsText
					p Series created by Sixe Paredes for Futurismo Ancestral (May 2014, Somerset House). The series of artworks includes large-scale tapestries, ceramics, quipus and sculptures, and offers a modern take on Peruvian visual culture and craftsmanship. Highly colourful and carefully crafted, each piece is unique and seeks to embrace traditional know-how through a


				.columsText.columsText-sec
					p contemporary lens. Alongside the series, Sixe has designed a series of traditional Chicha posters for the exhibition alongside an iconic printmaker from Lima.
					p Please contact raissa@a-by-p.com for all sales enquiries

	include _gallery