section(id="contact-section")
	.holdIt.center-all
		h1 contact us
		.lineThis
		a(href="mailto:info@a-by-p.com")
			h1 info@a-by-p.com

//- #contact-section.mainHold
//- 	a(href="mailto:info@a-by-p.com")
//- 		h1 info@a-by-p.com
