#about-section.mainHold
	h1 Approved by Pablo, or A(by)P, is a 
	h1 new model for the gallery world that 
	h1 harnesses the energy and excitement 
	h1 of the ephemeral exhibition moment 
	h1 and that makes art and ideas 
	h1 accessible to all. Giving artists the 
	h1 opportunity to curate entire events 
	h1 rather than solely exhibit their work, 
	h1 each A(by)P Event will include a 
	h1 programme of multisensory and 
	h1 all-encompassing experiences in 
	h1 which everyone can participate. 
	h1 Working through ight and sound as 
	h1 much as taste and touch, 
	h1 incorporating visual artefacts and 
	h1 installations, performances and 
	h1 theatre, workshops and films, 
	h1 gastronomy and symposium, A(by)P 
	h1 will present art as event, art as 
	h1 encounter, and artas adventure.