section(id="future_events-section")
	.sectInH.imgcoverIN(style="background: url('../assets/images/gui/future_events/cover.jpg') no-repeat center center fixed; -webkit-background-size: cover -moz-background-size: cover; -o-background-size: cover; background-size: cover;")
	.sectInH.infoHolder.mainHold
		.safeArea.SfH.center-h
			.holdColums
				.columsText
					p Graffiti and street-artists have a very particular relationship to the city. Through producing their work on this living canvas, through inhabiting the streets, through evading authorities, artists become invested in the politics of space, understanding their environments in a unique manner.
					p Mapping the City will unlock this hidden knowledge, providing us with an ‘insider’ view of the city, disclosing the secrets every landscape contains.
					p Commissioning over 50 artists from around the globe to produce maps of their cities, visual depictions of their environments, each map will reveal highly personal understandings of the environment, depicting the city through
				.columsText.columsText-sec
					p subjective surveying rather than objective ordinance, through distance measured bodily rather than mathematically.
					p Significantly however, it will also enable visitors to locate a new way of understanding our environments themselves. Challenging normative conceptions of urban space, the exhibition
					p will stimulate the geographic awareness of each viewer.
					p Including a range of artists from stars such as Shepard Fairey, Swoon, Ron English and Sixe Paredes to emerging and established artists from all over globe, the breadth and scope of Mapping the City will make it the most important street art exhibition in Europe to date.

	include _gallery
	include _list