.sectInH.sectionGal.mainHold
	.safeArea.SfH.center-h
		.allGals.center-all
			.gridIt.section-frt.middleHalf
				img(src="assets/images/gui/gallery/future_events/1.jpg", style="bottom: 0")
			.gridIt.section-frt.middleHalf
				img(src="assets/images/gui/gallery/future_events/2.jpg")
			.gridIt.section-frt.middleHalf
				img(src="assets/images/gui/gallery/future_events/3.jpg",style="bottom: 0")
			.gridIt.section-frt.middleHalf
				img(src="assets/images/gui/gallery/future_events/4.jpg")
			.gridIt.section-frt.middleHalf
				img(src="assets/images/gui/gallery/future_events/5.jpg",style="bottom: 0")
			.gridIt.section-frt.middleHalf
				img(src="assets/images/gui/gallery/future_events/6.jpg")
			.gridIt.section-frt.middleHalf
				img(src="assets/images/gui/gallery/future_events/7.jpg",style="bottom: 0")
			.gridIt.section-frt.middleHalf
				img(src="assets/images/gui/gallery/future_events/8.jpg")
