.sectInH.listHolder.mainHold
	.safeArea.SfH.center-h
		.listMe.center-all
			.section-half.listH
				p 108 (IT)
				p ARYZ (ES)
				p AUGUSTINE KOFIE (US)
				p BORIS TELLEGEN (NL)
				p CALEB NEELON (US)
				p CALI THORNHILL DEWITT (US) 
				p CHU (AR)
				p CLEON PETERSON (US)
				p DANIEL K SPARKES (UK)
				p EGS (FI)
				p EKTA [DANIEL GÖTESSON] (SW) 
				p ELTONO (FR)
				p EROSIE (NL)
				p FILIPPO MINELLI (IT)
				p GOLDPEG (UK)
				p GRAPHIC SURGERY (NL) 
				p HERBERT BAGLIONE (BR) 
				p HONET (FR)
				p HORFEE (FR) HUSKMITNAVN(DK)
				p IAN STRANGE [KID ZOOM] (AU) 
				p INTERESNI KAZKI (UA)
				p ISAURO HUIZAR (MX)
				p ISAAC TIN WEI LIN (US)
				p JAMES JARVIS (UK)
				p JURNE (US)
			.section-half.listH.rtLh
				p KEN SORTAIS (FR)
				p LES FRÈRES RIPOULAIN (FR)
				p LUSH (AU)
				p MALARKO (UK)
				p MARTIN TIBABUZO (AR)
				p MIKE BALLARD (UK)
				p MOMO (US)
				p NANO 4814 (ES)
				p NUG (SW)
				p OX (FR)
				p PETRO (UK)
				p REMED (FR)
				p REMIO (US)
				p ROIDS (UK)
				p RON ENGLISH (US)
				p RUSSELL MAURICE (UK)
				p SEGO/OVBAL (MX)
				p SHANTELL MARTIN (UK)
				p SHEPARD FAIREY (US)
				p SIXE PAREDES (ES)
				p SUSUMU MUKAI (JP)
				p SWOON (US)
				p THE CULT OF RAMMELLZEE (UK)
				p TIM HEAD (UK)
				p VOVA VOROTNIOV (UA)
				p WILL SWEENEY (UK)
				