#artist-section.mainHold
	+covers({section:'artist', titulo:'Sixe Paredes', spam:'( S P )'})
	.safeArea.artistSafe
		.holdColums
			.top-holder
				.title
					h2 About
				.other-link
					p(class="go_store") A (by) P Store 
					span - 
					p(class="go_calendar") Calendar
			.columsText
				p 	
					| Barcelona-born Sixe is one of the world’s 
					| most established Independent Public 
					| Artists. An autodidact, Sixe developed his 
					| style on the street, spraypainting his 
					| suburbs during the 1980s. Moving his 
					| ainting practice to the studio in the 1990s 
					| (whilst still always returning back to the 
					| street), Sixe’s work as been as equally 
					| successful in both locations. He is now

			.columsText.columsText-sec
				p
					| represented in major collections around the 
					| globe and his artwork has been exhibited 
					| alongside that of Joan Miró and Antonio 
					| Tàpies. In 2008, he was one of six 
					| international artists façade for the first 
					| time. He has not participated in any UK 
					| shows since, with the Somerset House 
					| residency marking his return to London.
	include _galery

