.sectionGal3.mainHold
	.safeArea.SfH.center-h

		.allGals#previusE
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock1
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock2
			.gridIt.section-third.middleHalf
				//- .colB.center-all.coloBlock3
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock4
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock5
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock6

			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock7
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock8
			.gridIt.section-third.middleHalf
				//- .colB.center-all.coloBlock9
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock10
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock11
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock12

			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock13
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock14
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock15
			.gridIt.section-third.middleHalf
				//- .colB.center-all.coloBlock16
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock17
			.gridIt.section-third.middleHalf
				.colB.center-all.coloBlock18