.galeriaHold.mainHold
	.safeArea
		.to-holderH
			h2 Gallery
		.holdInPic
			+img-pic({folder:'artist', name:'autoretratoChaman', lightbox:'image-1', title:'/Sixe Paredes “Self portrait as Shaman”. Barcelona, Spain. 2011.', clase:''})
			+img-pic({folder:'artist', name:'barcelona2014', lightbox:'image-1', title:'/Sixe Paredes “Universos paralelos”. Barcelona, Spain. 2014.', clase:''})
			+img-pic({folder:'artist', name:'barcelona2012', lightbox:'image-1', title:'/Sixe Paredes “Untitled”. Barcelona, Spain. 2012.', clase:''})
			+img-pic({folder:'artist', name:'bilbao1', lightbox:'image-1', title:'/Sixe Paredes “Futurismo Primitivo”. SC Gallery, Bilbao, Spain. 2012', clase:'lastRt'})

			+img-pic({folder:'artist', name:'bilbao4', lightbox:'image-1', title:'/Sixe Paredes “Futurismo Primitivo”. SC Gallery, Bilbao, Spain. 2012.', clase:''})
			+img-pic({folder:'artist', name:'moscow1', lightbox:'image-1', title:'/Sixe Paredes “Bestiario animal humanoide”. Moscow, Russia. 2013.', clase:''})
			+img-pic({folder:'artist', name:'moscow4', lightbox:'image-1', title:'/Sixe Paredes “Bestiario animal humanoide”. Moscow, Russia. 2013.', clase:''})
			+img-pic({folder:'artist', name:'peruStreet34', lightbox:'image-1', title:'/Sixe Paredes “Untitled”. Lima, Perù. 2013.', clase:'lastRt'})
			
			+img-pic({folder:'artist', name:'peruStreet35', lightbox:'image-1', title:'/SSixe Paredes “Untitled”. Lima, Perù. 2013.', clase:'btmLst'})
			+img-pic({folder:'artist', name:'sixeRvalentino2', lightbox:'image-1', title:'/Sixe Paredes and Valentino Sibadon “Untitled”. Lima, Perù. 2012.', clase:'btmLst'})