section(id="previus_events-section")
	.sectInH2.imgcoverIN(style="background: url('../assets/images/gui/past_events/cover.jpg') no-repeat center center fixed; -webkit-background-size: cover -moz-background-size: cover; -o-background-size: cover; background-size: cover;")
	.sectInH2.infoHolder.mainHold
		.safeArea.SfH.center-h
			.holdColums
				.columsText
					p Futurismo Ancestral was an ode to Peruvian and Andean aesthetics created and curated by Barcelona born artist Sixe Paredes. Taking over the lower levels of Somerset House for a one-week residency, Futurimso Ancestral took place between the 21st and 27th May 2014.
					p Since 2009, Sixe has spent periods in Peru to engage with and enrich his knowledge of Peruvian and Andean art and culture. He has collaborated with the local creative community in the region, learning about local art traditions and techniques from celebrated ceramicists, chicha cartel producers and weavers.

				.columsText.columsText-sec
					p Futurismo Ancestral included large-scale artworks such as tapestries, totems, quipus and ceramics crafted by Sixe himself, as well as daily, interactive events on all aspects of Peruvian and Andean culture. Working with world renowned chefs (Virgilio Martinez from Michelin-Star restaurant Lima), DJs (from London’s NTS Radio), musicians, poets, and academics, Futurismo Ancestral utilised every and any medium to convey the richness of the Peruvian and Andean visual realm. It is Sixe’s love letter, his offering to Peru.
	include _gallery
	include _video