.sectInH2.listHolder.listVid.mainHold
	.safeArea.SfH.center-h
		.listMe.center-all
			.video_H
				iframe(width="560", height="350", src="//www.youtube.com/embed/EpVpJWB2gSc", frameborder="0", allowfullscreen)
			.holdColums
				.columsText
					p Futurismo Ancestral was produced by A(by)P and Somerset House.
					p It was designed by Pablo Limón and Savvy Studio.
					p Exhibition production by Pablo Limón, Savvy Studio, Eltono and Nano4814.
					p With thanks to our partners LIMA and Virgilio Martinez, the Department of Anthropology fromç
				.columsText.columsText-sec
					p University College London, Makerversity, NTS Radio, Sol, Migas and Eduardo Gutierrez, Kogni- tif, Montana Colors, Morbo, The Soundwalk Col- lective, and the Anglo-Peruvian Society.
					p Special thanks to the whole A(by)P team, Chloe, Ciara, Francis, Elena, Ilaria, Julie, Min, Renata, Silvana, Shakira and Tom!
					.bolitasHOlder
						.bl1
						.bl1
						.bl1
						.bl1
						.bl1
						.bl1
						.bl1.blf