#calendar-section.mainHold
	+covers({section:'calendar', tt1:'21/05/14 - 27/05/14', titulo:'Ancestral Futurismo:', spam:'An Ode to Peru by Sixe Paredes', quitame:'kitame'})
	+covers2({section:'calendar1', titulo:'Autumn/Winter 2014', spam:'TBA', folder:'calendar',name:'brandFull', lightbox:'image-5', title:'Autumn/Winter 2014 TBA'})
	+covers2({section:'calendar2', tt1:'Autumn/Winter 2014', titulo:'Mapping the City ', spam:'(Various Artists)', folder:'calendar',name:'full2', lightbox:'image-5', title:'Autumn/Winter 2014 Mapping the City (Various Artists)' })
	+covers2({section:'calendar3', titulo:'Spring 2015', spam:'TBA', folder:'calendar',name:'etonoFull', lightbox:'image-5', title:'Spring 2015 TBA'})